# --- Traitement Signal & Audio ---
librosa
numpy
soundfile
mutagen

# --- Intelligence Artificielle ---
scikit-learn
pandas
joblib
requests

# --- Interface & Graphisme ---
PySide6
matplotlib

# --- Utilitaires ---
pynvml  # Pour le monitoring GPU natif (alternative à l'appel shell nvidia-smi)
