# --- Framework Interface & UX ---
PySide6==6.6.1            # Interface Obsidian & Rendu Natif & Gestion des Threads

# --- Moteur d'Analyse Audio (DSP) ---
librosa==0.10.1           # Analyse fréquentielle et STFT
numpy==1.24.3             # Calculs matriciels haute performance (Utilisé pour le rendu vidéo)
mutagen==1.47.0           # Lecture des métadonnées et bitrate
soundfile==0.12.1         # Backend de lecture audio multi-format

# --- Intelligence Artificielle ---
scikit-learn==1.3.2       # Moteur Random Forest
joblib==1.3.2             # Persistance du modèle (.joblib)
requests==2.31.0          # Communication avec Ollama (LLM)

# --- Monitoring ---
nvidia-ml-py==12.535.133  # Monitoring natif des cartes RTX
psutil==5.9.6             # Statistiques CPU/RAM pour le dashboard
